// ======================================================================================================
//
// Footer
//
// ======================================================================================================

.footer  {
  background-color: $white;
  padding-top: 50px;
  text-align: center;

  p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 30px;
  }
}
