// ======================================================================================================
//
// Page layout
//
// ======================================================================================================
html { background: $blue; }

body {
  background: #000;
  color: $blue;
  font-family: 'devinne_btroman', serif;
  font-weight: 200;

  *::selection {
    background: $blue;
    color: $white;
  }
}

.page__wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include breakpoint(md) {
    height: 100%;
  }
}

// This is to correct iOS line bug between projects
.project,
.project-list,
.page--about { margin: -1px 0; }

// Right and left sections
// ===================================
.page__section {
  padding: 0;
  margin: 0;
  width: 100%;
}

.page__section--half {
  clip: rect(auto, auto, auto, auto);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  transition: all 0.6s;
  width: 50vw;

  &:first-of-type {
    background-color: $blue;
    color: $white;
    overflow: hidden;
  }

  &:last-of-type {
    background-color: $white;
    color: $blue;
    padding: 0;
    width: 50vw;
  }

  &.is-stretched { width: 100vw; }
  // &.is-small { transform: translateX(0); }
}


// Project layouts
// ===================================
.project {
  clip: rect(auto, auto, auto, auto);
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100vw;
  z-index: 5;

  a { font-size: 14px; }
  p { padding: 0 30px; }

  img {
    padding: 100px 30px;
    width: calc(100vw - 60px);
  }

  @include breakpoint(md) {
    a { font-size: 20px; }
    img { padding: 200px 30px; }
  }

  @include breakpoint(lg) {
    min-height: 800px;
    a { font-size: 30px; }
  }

  @include breakpoint(xl) {
    img {
      padding: 200px 50px;
      width: calc(100vw - 100px);
    }
  }
}

.hidden-content {
  display: inline-block;
  height: 200px;
  letter-spacing: 0.2rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 50%;

  &.is-in-front { z-index: 10 }

  &:after {
    color: $white;
    content: url('/images/x.svg');
    display: block;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 15px;
    width: 30px;

    @include breakpoint(md) {
      height: 50px;
      top: 30px;
      width: 50px;
    }
    @include breakpoint(lg) {
      height: 100px;
      width: 100px;
    }
  }
}

.project__build {
  max-width: 800px;
  margin: 1em auto;
}

.project__name { margin-bottom: 0; }
.project__date { margin: 0; }
.project--more { margin-top: 50px; }
