// ===================================
//
// Type styles
//
// ===================================

a {
  color: $blue;
  text-decoration: none;
  transition: letter-spacing 0.8s;

  &:hover { letter-spacing: 0.05rem; }
  &:visited { color: $blue; }
}

.type--small {
  font-size: 14px !important;
  @include breakpoint(md) { font-size: 20px !important; }
  @include breakpoint(lg) { font-size: 30px !important; }
}

.type--white { color: #fff; }
.type--blue  { color: $blue; }

// Specific section overrides
// ===================================

.page--about {
  h2, h3, p {
    font-size: 25px;
    @include breakpoint(md) { font-size: 40px; }
    @include breakpoint(lg) { font-size: 50px; }
  }
}

.project {
  p {
    font-size: 14px;
    @include breakpoint(md) { font-size: 40px; }
    @include breakpoint(lg) { font-size: 50px; }
  }
}

.header-type {
  font-size: 40px;
  @include breakpoint(md) { font-size: 80px; }
  @include breakpoint(lg)  { font-size: 160px; }
}
